.calculator {
    height: 320px;
    width: 235px;
    border-radius: 7px;
    overflow: hidden;
    box-shadow: 1px 1px 1px #3a3a3a;
    display: grid;
    grid-template-columns: repeat(4, 25%);
    grid-template-rows: 1fr 48px 48px 48px 48px 48px;
}